.componentName {
    font-size: 18px;
    margin-top: 50px;
}

input {
    margin-top: 15px;
    border-radius: 5px;
}

.square {
    width: 30px;
    height: 30px;
    background: #61dafb;
    margin: 15px;
}