.wrapper {
    /* width: 622px;
    height: 439px; */
    padding: 64px;
    border: 1px solid white;
    margin: 20px;
}

.wrapper input {
    border-radius: 0%;
    font-size: 15px;    
    line-height: 24px;
    padding: 5px 14px;
    box-sizing: border-box;
    margin: 10px 0;
}

.header {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.nameAndLastName {
    display: flex;
    justify-content: space-between;
}

.nameAndLastName > div {
    width: 46%;
}

.password input, .email input {
    width: 100%;
}

.buttonWrapper {
    display: flex;
    align-items: flex-start;
}

.buttonWrapper button {
    background: #61dafb;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.buttonWrapper button:hover {
    background: #8ee7ff;
}

.buttonWrapper button:active {
    background: #fff;
}

.error {
    color: red;
    font-size: 12px;;
}