@font-face {
    font-family: Font;
    font-weight: 400;
    src: url(../fonts/Worksans.woff2) format('woff2');
}
/* @font-face {
    font-family: Font;
    font-weight: 900;
    src: url(../fonts/WorksansBold.woff2) format('woff2');
} */

body {
    font-family: Font, sans-serif;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    padding-bottom: 20px;
    top: 0;
    z-index: 1;
}
header > div {
    justify-content: space-between;
    padding: 55px 100px 0 100px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

header > div >:first-child {
    width: 236px;
    margin-right: 60px;
}
.head a {
    cursor: pointer;
}

.headText {
    text-decoration: none;
    color: black;
}

.headText:hover {
    color: rgb(110, 110, 110);
}

.logo {
    width: 220px;
    margin-right: 50px;
}

.hederIcons div {
    margin-right: 50px;
    display: inline-block;
}
footer {
    text-align: center;
    margin-bottom: 50px;
}
footer >:first-child {
    margin-bottom: 25px;
}

footer :first-child a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

footer div * {
    vertical-align: middle;
}

footer a:hover {
    color: rgb(126, 126, 126);
}

footer img {
    margin: 0 10px;
}

footer :last-child {
    font-size: 14px;
}

footer :last-child a {
    text-decoration: none;
    font-weight: 100;
    color: rgb(77, 77, 77)
}

footer :last-child a:hover {
    color: rgb(190, 190, 190);
}